$text-2-bg-color:#ffffff;
$text-2-brightness:1;
$title-2-color:#000000;
$title-2-f-family:'komoda',sans-serif;

$about-2-f-family:sans-serif;
$about-2-f-size:3vh;
$about-2-f-color:#000000;

$line-color2:#d30834;

$icon-2-sub-family:sans-serif;
$icon-2-sub-size:3vh;
$icon-2-sub-color:#000000;
