$coop-3-modal-color:black;
$coop-3-modal-brightness:0.7;

$coop-small-bg-color:#ffffff;
$coop-small-bg-brightness:0.7;


$coop-title-3-family:'komoda';
$coop-title-3-size:5vh;
$coop-title-3-color:#ffffff;

$coop-color-line:#d30834;

$geotek-bg-color:#ffffff;
$geotek-bg-brightness:0.5;

$alium-bg-color:#ffffff;
$alium-bg-brightness:0.5;


$about-text-3-family:sans-serif;
$about-text-3-size:2vh;
$about-text-3-color:black;
